{% extends 'base.html.twig' %}

{% block title %}{{ gastenboekItem.titel }}{% endblock %}

{% block body %}
    <h1>{{ gastenboekItem.titel }}</h1>
    <h5>Door {{ gastenboekItem.naam }}</h5>
    <hr>
    <p>{{  gastenboekItem.body }}</p>
    <hr>
    <a href="/">Ga terug</a>
{% endblock  %}